In [2]:
import numpy as np
import pandas as pd

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 150

## Challenges
- Can't pull in all the data for any one investigation (Panama, Paradise, Bahamas, Offshore) due to memory problems
- Doesn't appear that the column names are exactly the same between investigations
- Doesn't appear that all the columns are populated in each of the CSVs

## Solutions
- Whittle the number of columns down to just the ones you need
- Set the column types so the system doesn't have to guess and uses the most efficient ones

In [1]:
# edge_raw = pd.read_csv('../data/raw/bahamas_leaks/bahamas_leaks.edges.csv')
# address_raw = pd.read_csv('../data/raw/bahamas_leaks/bahamas_leaks.nodes.address.csv')
entity_raw = pd.read_csv('../data/raw/bahamas_leaks/bahamas_leaks.nodes.entity.csv', index_col='node_id')
# intermediary_raw = pd.read_csv('../data/raw/bahamas_leaks/bahamas_leaks.nodes.intermediary.csv')
# officer_raw = pd.read_csv('../data/raw/bahamas_leaks/bahamas_leaks.nodes.officer.csv')
# other_raw = pd.read_csv('../data/raw/bahamas_leaks/bahamas_leaks.nodes.other.csv')

- Went through the CSVs. Pulled out the names of the columns that looked interesting
- Loaded the data to dataframes, looked at the null values, removed a couple more columns

In [ ]:
['country_codes', 'countries', 'node_id', 'sourceID', 'name', 'jurisdiction_description', 'service_provider',
 'jurisdiction', 'closed_date', 'incorporation_date', 'ibcRUC', 'status', 'company_type', 'note']

In [6]:
bahamas_entity_raw = pd.read_csv('../data/raw/bahamas_leaks/bahamas_leaks.nodes.entity.csv', 
                                usecols = ['node_id', 'country_codes', 'countries', 'node_id', 'sourceID', 'name',
                                           'jurisdiction_description', 'service_provider', 'jurisdiction',
                                           'closed_date', 'incorporation_date', 'ibcRUC', 'status',
                                           'company_type', 'note'])
offshore_entity_raw = pd.read_csv('../data/raw/offshore_leaks/offshore_leaks.nodes.entity.csv', 
                                usecols = ['node_id', 'country_codes', 'countries', 'node_id', 'sourceID', 'name',
                                           'jurisdiction_description', 'service_provider', 'jurisdiction',
                                           'closed_date', 'incorporation_date', 'ibcRUC', 'status',
                                           'company_type', 'note'])
panama_entity_raw = pd.read_csv('../data/raw/panama_papers/panama_papers.nodes.entity.csv', 
                                usecols = ['node_id', 'country_codes', 'countries', 'node_id', 'sourceID', 'name',
                                           'jurisdiction_description', 'service_provider', 'jurisdiction',
                                           'closed_date', 'incorporation_date', 'ibcRUC', 'status',
                                           'company_type', 'note'])
paradise_entity_raw = pd.read_csv('../data/raw/paradise_papers/paradise_papers.nodes.entity.csv',
                                usecols = ['node_id', 'country_codes', 'countries', 'node_id', 'sourceID', 'name',
                                           'jurisdiction_description', 'service_provider', 'jurisdiction',
                                           'closed_date', 'incorporation_date', 'ibcRUC', 'status',
                                           'company_type', 'note'])

C:\Users\Julie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Julie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Julie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4,5,9,10,11,12,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Row counts for all columns for all investigations

info() gives you counts of all the non-null rows for each column

In [87]:
bahamas_entity_raw.head()

,country_codes,countries,sourceID,name,jurisdiction_description,service_provider,jurisdiction,incorporation_date,status
node_id,,,,,,,,,
20003127,NaN,NaN,Bahamas Leaks,DALMA CORPORATION LIMITED,Bahamas,NaN,BAH,1990-11-30,NaN
20010494,NaN,NaN,Bahamas Leaks,ASIA CONSTRUCTION CORPORATION LIMITED,Bahamas,NaN,BAH,1992-08-14,NaN
20010495,NaN,NaN,Bahamas Leaks,EURO LOGISTICS LIMITED,Bahamas,NaN,BAH,1992-08-14,NaN
20010496,NaN,NaN,Bahamas Leaks,EURO LEISURE LIMITED,Bahamas,NaN,BAH,1992-08-14,NaN
20010497,NaN,NaN,Bahamas Leaks,EURO DATA PROCUREMENT LIMITED,Bahamas,NaN,BAH,1992-08-14,NaN

In [13]:
bahamas_entity_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175888 entries, 0 to 175887
Data columns (total 14 columns):
country_codes               0 non-null float64
countries                   0 non-null float64
node_id                     175888 non-null int64
sourceID                    175888 non-null object
name                        175888 non-null object
jurisdiction_description    175888 non-null object
service_provider            0 non-null float64
jurisdiction                175888 non-null object
closed_date                 0 non-null float64
incorporation_date          175871 non-null object
ibcRUC                      175888 non-null object
status                      0 non-null float64
company_type                0 non-null float64
note                        1 non-null object
dtypes: float64(6), int64(1), object(7)
memory usage: 18.8+ MB

### Bahamas entities that are empty
- closed_date
- company_type
- country_codes
- countries
- service_provider
- status

Only 1 note

In [14]:
offshore_entity_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105516 entries, 0 to 105515
Data columns (total 14 columns):
node_id                     105516 non-null int64
name                        105516 non-null object
jurisdiction                105516 non-null object
jurisdiction_description    105516 non-null object
country_codes               105516 non-null object
countries                   105516 non-null object
incorporation_date          96137 non-null object
closed_date                 0 non-null float64
ibcRUC                      93599 non-null object
status                      96475 non-null object
company_type                103227 non-null object
service_provider            105516 non-null object
sourceID                    105516 non-null object
note                        8986 non-null object
dtypes: float64(1), int64(1), object(12)
memory usage: 11.3+ MB

### Offshore entities that are empty
- closed_date

In [15]:
panama_entity_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213634 entries, 0 to 213633
Data columns (total 14 columns):
node_id                     213634 non-null int64
name                        213630 non-null object
jurisdiction                213634 non-null object
jurisdiction_description    213634 non-null object
country_codes               212844 non-null object
countries                   212844 non-null object
incorporation_date          213599 non-null object
closed_date                 0 non-null float64
ibcRUC                      161771 non-null object
status                      213631 non-null object
company_type                0 non-null float64
service_provider            213634 non-null object
sourceID                    213634 non-null object
note                        7 non-null object
dtypes: float64(2), int64(1), object(11)
memory usage: 22.8+ MB

### Panama entities that are empty
- closed_date
- company_type

In [16]:
paradise_entity_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290086 entries, 0 to 290085
Data columns (total 14 columns):
node_id                     290086 non-null int64
name                        290061 non-null object
jurisdiction                290086 non-null object
jurisdiction_description    290086 non-null object
country_codes               169745 non-null object
countries                   169745 non-null object
incorporation_date          285746 non-null object
closed_date                 45305 non-null object
ibcRUC                      107263 non-null object
status                      27676 non-null object
company_type                19271 non-null object
service_provider            24936 non-null object
sourceID                    290086 non-null object
note                        32763 non-null object
dtypes: int64(1), object(13)
memory usage: 31.0+ MB

### Paradise entities that are empty
- None

# Unique identifier analysis

node_id appears to be a unique identifier. Let's double check.

In [7]:
datasets = [bahamas_entity_raw, offshore_entity_raw, panama_entity_raw, paradise_entity_raw]

for ds in datasets:
    print(ds.sourceID.unique()[0])
    print(ds.shape)
    print(ds.node_id.nunique(), '\n')

Bahamas Leaks
(175888, 14)
175888

Offshore Leaks
(105516, 14)
105516

Panama Papers
(213634, 14)
213634

Paradise Papers - Aruba corporate registry
(290086, 14)
290086

## node_id to be used as unique identifier in database

Each row does in fact have its own node id. We'll use this as the unique identifier going forward

### Determine which columns you want and what data type to use

All columns:

In [22]:
bahamas_entity_raw.columns

Index(['country_codes', 'countries', 'node_id', 'sourceID', 'name',
       'jurisdiction_description', 'service_provider', 'jurisdiction',
       'closed_date', 'incorporation_date', 'ibcRUC', 'status', 'company_type',
       'note'],
      dtype='object')

### Definitely keep:
- node_id: the unique identifier
- sourceID: which investigation the info came from
- name: name of the company
- jurisdiction_description: spelled out jurisdiction
- jurisdiction: abbreviated jurisdiction - Do I need to keep both jurisdiction and jurisdiction_description?
- incorporation_date: gives you dates to play with

### Are these columns worth having?
- country_codes
- countries
- service_provider
- closed_date
- status
- company_type
- note
- ibcRUC: What is this?

# ibcRUC

In [30]:
for ds in datasets:
    print('Investigation:', ds.sourceID.unique()[0])
    print('Number of rows in dataset:', ds.ibcRUC.shape[0])
    print('Number of populated rows:', ds.ibcRUC.count())
    print('Difference between the number of rows and the populated rows:', ds.ibcRUC.shape[0] - ds.ibcRUC.count())
    print('Number of unique entries:', ds.ibcRUC.nunique())
    print('Difference between the number of populated entries and the number of unique entries:', ds.ibcRUC.count() - ds.ibcRUC.nunique(), '\n')

Investigation: Bahamas Leaks
Number of rows in dataset: 175888
Number of populated rows: 175888
Difference between the number of rows and the populated rows: 0
Number of unique entries: 175150
Difference between the number of populated entries and the number of unique entries: 738

Investigation: Offshore Leaks
Number of rows in dataset: 105516
Number of populated rows: 93599
Difference between the number of rows and the populated rows: 11917
Number of unique entries: 93077
Difference between the number of populated entries and the number of unique entries: 522

Investigation: Panama Papers
Number of rows in dataset: 213634
Number of populated rows: 161771
Difference between the number of rows and the populated rows: 51863
Number of unique entries: 120046
Difference between the number of populated entries and the number of unique entries: 41725

Investigation: Paradise Papers - Aruba corporate registry
Number of rows in dataset: 290086
Number of populated rows: 107263
Difference between the number of rows and the populated rows: 182823
Number of unique entries: 107056
Difference between the number of populated entries and the number of unique entries: 207

### Discard 'ibcRUC'

ibcRUC isn't unique and there are quite a few missing values. Also wasn't able to find what this value represents. Removing from consideration for database.

# note

In [32]:
for ds in datasets:
    print('Investigation:', ds.sourceID.unique()[0])
    ds_col = ds.note
    print('Number of rows in dataset:', ds_col.shape[0])
    print('Number of populated rows:', ds_col.count())
    print('Difference between the number of rows and the populated rows:', ds_col.shape[0] - ds_col.count())
    print('Number of unique entries:', ds_col.nunique())
    print('Difference between the number of populated entries and the number of unique entries:', ds_col.count() - ds_col.nunique())
    print(ds_col.value_counts(), '\n')

Investigation: Bahamas Leaks
Number of rows in dataset: 175888
Number of populated rows: 1
Difference between the number of rows and the populated rows: 175887
Number of unique entries: 1
Difference between the number of populated entries and the number of unique entries: 0
The end date of the positions held by Francis Morneau William and Korbak Lynn were updated manually in the database based on documents provided to ICIJ by a communications firm representing Morneau Shepell. (Updated on September 23rd , 2016)    1
Name: note, dtype: int64

Investigation: Offshore Leaks
Number of rows in dataset: 105516
Number of populated rows: 8986
Difference between the number of rows and the populated rows: 96530
Number of unique entries: 2
Difference between the number of populated entries and the number of unique entries: 8984
This is not an offshore entity even though it was logged as such in original database ICIJ received. It isi an internal account created by the agent to record miscellaneous charges of an officer or intermediary                                                                                                                                                                                                                                                                                                                                                                                                                  8984
A representative from NYU told ICIJ that the NYU School of Medicine had no involvement with Scraggy Neck Investments or Huntington Investments Holdings and that Dr. Kelly, who is a former employee of the university, was the person connected to the companies. “We have spoken with Dr. Kelly, who confirmed that the relationship was between him, Huntington Investment Holdings, and Scraggy Neck Investments, and the NYU School of Medicine had no involvement. Our own records reflect that we neither have nor had relationships with these other entities,” the representative added. (Updated on August 25th, 2016)       2
Name: note, dtype: int64

Investigation: Panama Papers
Number of rows in dataset: 213634
Number of populated rows: 7
Difference between the number of rows and the populated rows: 213627
Number of unique entries: 5
Difference between the number of populated entries and the number of unique entries: 2
Mr. Ignacio Mañe lawyer from M&O Abogados told ICIJ that the law firm he represents did not create or help manage the companies Monmouth Associates Ltd., Harrison Overseas Limited and Orsa Equities Ltd. He also said that their client was introduced to them by one of the biggest Swiss banks to help with a potential real estate transaction in Spain. 'At a later stage, we discovered the client held 3 entities in Panama (set up by that same bank), and upon knowing that we recommended to dissolve such companies, paying any back taxes due. That is why we got in contact with the service provider just to have them disused.'   (Updated on Oct. 11th, 2016)                                                                                                                                                                                                                       3
In the Mossack Fonseca database received by ICIJ, Maurice Perera and Amanda Marsh appear as beneficial owners of Worthlen Finance Limited. Maurice Perera told ICIJ that he and Amanda Marsh are not beneficial owners of the company. He said they work for Finsbury Trust and Corporate Services Limited, a corporate service provider in Gibraltar that managed Worthlen. Perera provided a letter signed by a Mossack Fonseca representative that states “according to records updated by our client on June 9, 2016 neither Mr. Maurice Perera nor Mrs. Amanda Marsh are the ultimate beneficial owner of the company. Mr. Marcel Benhamou, French citizen with address: 41, T. Tabidze Str. Apt 8, 0162, Tbilisi, Georgia is the ultimate beneficial owner of the company.” (Note updated on August 25th and November 29th, 2016 and visualization updated on November 8th and 29th, 2016).    1
Mr. Joseph Levy told ICIJ that Independent Financial Consulting, Inc. never had Mossack Fonseca as registered agent and that Carles-Barraza Abogados registered the company in 2007. Panama Papers documents show that Independent Financial Consulting was related to Mossack Fonseca through the rental of an office space. The company had an agreement with Mossfon Trust Corporation and paid regular fees for this service.  (Updated on Oct. 11th, 2016)                                                                                                                                                                                                                                                                                                                                                                                                                                      1
Sergio Emilio Gallo León told ICIJ that he is not the owner of the company. He provided a letter signed by a Mossack Fonseca representative that states “According to our records and to the information provided by our client per record, Sergio Emilio Gallo León is not shareholder nor beneficial owner of Carson Mountains Ltd.” (Updated on September 16th, 2016)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
The original names were redacted because the shareholders were minors. (Updated on August 22th, 2016)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
Name: note, dtype: int64

Investigation: Paradise Papers - Aruba corporate registry
Number of rows in dataset: 290086
Number of populated rows: 32763
Difference between the number of rows and the populated rows: 257323
Number of unique entries: 182
Difference between the number of populated entries and the number of unique entries: 32581
Closed date stands for Cancelled date.                                      18211
Closed date stands for dissolved date.                                       8205
Closed date stands for Liquidation date.                                     3619
Closed date stands for Expiry date                                           1469
Closed date stands for discontinued date.                                     484
Closed date stands for terminated date.                                       254
Closed date stands for cancelled date.                                         79
Date discontinued: 27-MAR-2013                                                 19
Date discontinued: 08-APR-2013                                                 18
Date discontinued: 10-JAN-2013                                                 12
Date discontinued: 20-MAR-2013                                                  9
Date discontinued: 03-APR-2013                                                  9
Date discontinued: 27-FEB-2013                                                  9
Date discontinued: 06-DEC-2012                                                  7
Date discontinued: 08-NOV-2012                                                  7
Record manually added from leaked documents.                                    7
Closed date stands for discontinued date. Date discontinued: 08-APR-2013        7
Closed date stands for discontinued date. Date discontinued: 12-FEB-2013        6
Closed date stands for discontinued date. Date discontinued: 27-FEB-2013        6
Date discontinued: 29-NOV-2012                                                  6
Date discontinued: 08-FEB-2013                                                  6
Date discontinued: 25-FEB-2013                                                  6
Date discontinued: 19-MAR-2013                                                  6
Date discontinued: 11-DEC-2012                                                  6
Closed date stands for discontinued date. Date discontinued: 19-MAR-2013        6
Date discontinued: 26-FEB-2013                                                  5
Date discontinued: 30-JAN-2013                                                  5
Date discontinued: 18-MAR-2013                                                  5
Date discontinued: 12-MAR-2013                                                  5
Date discontinued: 04-APR-2013                                                  4
Date discontinued: 03-DEC-2012                                                  4
Closed date stands for discontinued date. Date discontinued: 08-JAN-2013        4
Date discontinued: 21-MAR-2013                                                  4
Date discontinued: 22-JAN-2013                                                  4
Closed date stands for discontinued date. Date discontinued: 18-DEC-2012        4
Date discontinued: 18-DEC-2012                                                  4
Date discontinued: 17-DEC-2012                                                  4
Date discontinued: 13-FEB-2013                                                  4
Date discontinued: 16-NOV-2012                                                  4
Date discontinued: 13-DEC-2012                                                  4
Date discontinued: 07-FEB-2013                                                  4
Closed date stands for discontinued date. Date discontinued: 05-OCT-2012        4
Closed date stands for discontinued date. Date discontinued: 08-NOV-2012        3
Date discontinued: 07-JAN-2013                                                  3
Date discontinued: 15-NOV-2012                                                  3
Closed date stands for discontinued date. Date discontinued: 11-APR-2013        3
Date discontinued: 30-OCT-2012                                                  3
Date discontinued: 26-SEP-2012                                                  3
Date discontinued: 22-MAR-2013                                                  3
Date discontinued: 14-MAR-2013                                                  3
Closed date stands for discontinued date. Date discontinued: 27-MAR-2013        3
Date discontinued: 11-JAN-2013                                                  3
Date discontinued: 05-FEB-2013                                                  3
Date discontinued: 12-APR-2013                                                  3
Date discontinued: 09-JAN-2013                                                  3
Date discontinued: 04-OCT-2012                                                  3
Date discontinued: 17-JAN-2013                                                  3
Date discontinued: 22-OCT-2012                                                  3
Date discontinued: 04-JAN-2013                                                  3
Date discontinued: 11-MAR-2013                                                  3
Date discontinued: 02-APR-2013                                                  3
Date discontinued: 05-MAR-2013                                                  3
Date discontinued: 29-JAN-2013                                                  2
Closed date stands for discontinued date. Date discontinued: 17-JAN-2013        2
Date discontinued: 16-JAN-2013                                                  2
Date discontinued: 29-OCT-2012                                                  2
Closed date stands for discontinued date. Date discontinued: 22-OCT-2012        2
Date discontinued: 29-OCT-2001                                                  2
Date discontinued: 28-JAN-2013                                                  2
Date discontinued: 16-OCT-2012                                                  2
Date discontinued: 09-AUG-2013                                                  2
Closed date stands for discontinued date. Date discontinued: 09-JAN-2013        2
Date discontinued: 04-FEB-2013                                                  2
Closed date stands for discontinued date. Date discontinued: 15-NOV-2012        2
Date discontinued: 19-DEC-2012                                                  2
Closed date stands for discontinued date. Date discontinued: 01-NOV-2012        2
Date discontinued: 21-DEC-2012                                                  2
Closed date stands for discontinued date. Date discontinued: 07-MAR-2013        2
Closed date stands for terminated date. Date discontinued: 23-JAN-2013          2
Date discontinued: 21-NOV-2012                                                  2
Date discontinued: 28-NOV-2012                                                  2
Date discontinued: 05-APR-2013                                                  2
Date discontinued: 23-OCT-2012                                                  2
Date discontinued: 13-NOV-2012                                                  2
Date discontinued: 09-NOV-2012                                                  2
Date discontinued: 15-MAR-2013                                                  2
Date discontinued: 26-AUG-2013                                                  2
Date discontinued: 14-JAN-2013                                                  2
Closed date stands for discontinued date. Date discontinued: 14-MAR-2013        2
Date discontinued: 27-DEC-2012                                                  2
Date discontinued: 24-JAN-2013                                                  2
Closed date stands for discontinued date. Date discontinued: 26-FEB-2013        2
Date discontinued: 19-NOV-2012                                                  2
Closed date stands for discontinued date. Date discontinued: 05-MAR-2013        2
Date discontinued: 28-FEB-2013                                                  2
Date discontinued: 11-FEB-2013                                                  2
Date discontinued: 08-MAR-2013                                                  2
Closed date stands for discontinued date. Date discontinued: 26-NOV-2012        2
Closed date stands for discontinued date. Date discontinued: 27-FEB-2012        2
Closed date stands for discontinued date. Date discontinued: 07-JAN-2013        2
Date discontinued: 12-AUG-2013                                                  1
Closed date stands for discontinued date. Date discontinued: 11-MAR-2013        1
Date discontinued: 21-FEB-2013                                                  1
Closed date stands for discontinued date. Date discontinued: 16-OCT-2012        1
Date discontinued: 13-MAR-2013                                                  1
Closed date stands for terminated date. Date discontinued: 26-FEB-2013          1
Date discontinued: 22-FEB-2013                                                  1
Closed date stands for discontinued date. Date discontinued: 07-FEB-2013        1
Closed date stands for discontinued date. Date discontinued: 04-OCT-2012        1
Closed date stands for discontinued date. Date discontinued: 15-JAN-2013        1
Closed date stands for discontinued date. Date discontinued: 22-JAN-2013        1
Date discontinued: 30-JUL-2013                                                  1
Date discontinued: 31-OCT-2012                                                  1
Closed date stands for discontinued date. Date discontinued: 08-OCT-2012        1
Date discontinued: 01-JUL-2013                                                  1
Closed date stands for terminated date. Date discontinued: 22-FEB-2013          1
Closed date stands for discontinued date. Date discontinued: 12-APR-2013        1
Date discontinued: 26-JAN-2013                                                  1
Closed date stands for terminated date. Date discontinued: 19-NOV-2012          1
Date discontinued: 24-DEC-2012                                                  1
Closed date stands for discontinued date. Date discontinued: 13-MAR-2013        1
Closed date stands for discontinued date. Date discontinued: 15-FEB-2013        1
Date discontinued: 12-DEC-2012                                                  1
Date discontinued: 11-OCT-2012                                                  1
Closed date stands for discontinued date. Date discontinued: 28-FEB-2013        1
Closed date stands for discontinued date. Date discontinued: 06-DEC-2012        1
Date discontinued: 18-JAN-2013                                                  1
Closed date stands for cancelled date. Date discontinued: 29-DEC-1997           1
Date discontinued: 25-OCT-2012                                                  1
Date discontinued: 25-NOV-2009                                                  1
Closed date stands for terminated date. Date discontinued: 10-JAN-2013          1
Closed date stands for discontinued date. Date discontinued: 28-JAN-2013        1
Date discontinued: 20-FEB-2013                                                  1
Date discontinued: 07-MAR-2013                                                  1
Date discontinued: 03-APR-2012                                                  1
Date discontinued: 04-FEB-2014                                                  1
Closed date stands for discontinued date. Date discontinued: 26-SEP-2012        1
Closed date stands for discontinued date. Date discontinued: 12-MAR-2013        1
Date discontinued: 14-MAY-2003                                                  1
Date discontinued: 30-JAN-2014                                                  1
Date discontinued: 15-OCT-2012                                                  1
Closed date stands for discontinued date. Date discontinued: 25-FEB-2013        1
Closed date stands for discontinued date. Date discontinued: 03-APR-2013        1
Date discontinued: 12-FEB-2013                                                  1
Closed date stands for terminated date. Date discontinued: 19-DEC-2012          1
Date discontinued: 08-JAN-2013                                                  1
Closed date stands for terminated date. Date discontinued: 25-FEB-2013          1
Closed date stands for discontinued date. Date discontinued: 18-MAR-2012        1
Date discontinued: 27-NOV-2012                                                  1
Closed date stands for discontinued date. Date discontinued: 13-NOV-2012        1
Date discontinued: 23-JAN-2013                                                  1
Date discontinued: 06-MAR-2013                                                  1
Closed date stands for discontinued date. Date discontinued: 10-JAN-2013        1
Closed date stands for discontinued date. Date discontinued: 09-APR-2013        1
Closed date stands for discontinued date. Date discontinued: 29-OCT-2012        1
Closed date stands for discontinued date. Date discontinued: 19-NOV-2012        1
Date discontinued: 21-AUG-2013                                                  1

### Discard 'note'

Note doesn't provide anything particularly interesting for analysis. As we're just interested in examining the data, not making sure it's up to date and correct, disregrding this column

# country_codes and countries

In [34]:
for ds in datasets:
    print('Investigation:', ds.sourceID.unique()[0])
    ds_col = ds.country_codes
    print('Number of rows in dataset:', ds_col.shape[0])
    print('Number of populated rows:', ds_col.count())
    print('Difference between the number of rows and the populated rows:', ds_col.shape[0] - ds_col.count())
    print('Number of unique entries:', ds_col.nunique())
    print('Difference between the number of populated entries and the number of unique entries:', ds_col.count() - ds_col.nunique(), '\n')

Investigation: Bahamas Leaks
Number of rows in dataset: 175888
Number of populated rows: 0
Difference between the number of rows and the populated rows: 175888
Number of unique entries: 0
Difference between the number of populated entries and the number of unique entries: 0

Investigation: Offshore Leaks
Number of rows in dataset: 105516
Number of populated rows: 105516
Difference between the number of rows and the populated rows: 0
Number of unique entries: 400
Difference between the number of populated entries and the number of unique entries: 105116

Investigation: Panama Papers
Number of rows in dataset: 213634
Number of populated rows: 212844
Difference between the number of rows and the populated rows: 790
Number of unique entries: 159
Difference between the number of populated entries and the number of unique entries: 212685

Investigation: Paradise Papers - Aruba corporate registry
Number of rows in dataset: 290086
Number of populated rows: 169745
Difference between the number of rows and the populated rows: 120341
Number of unique entries: 566
Difference between the number of populated entries and the number of unique entries: 169179

In [37]:
for ds in datasets:
    print('Investigation:', ds.sourceID.unique()[0])
    ds_col = ds.countries
    print('Number of rows in dataset:', ds_col.shape[0])
    print('Number of populated rows:', ds_col.count())
    print('Difference between the number of rows and the populated rows:', ds_col.shape[0] - ds_col.count())
    print('Number of unique entries:', ds_col.nunique())
    print('Difference between the number of populated entries and the number of unique entries:', ds_col.count() - ds_col.nunique(), '\n')

Investigation: Bahamas Leaks
Number of rows in dataset: 175888
Number of populated rows: 0
Difference between the number of rows and the populated rows: 175888
Number of unique entries: 0
Difference between the number of populated entries and the number of unique entries: 0

Investigation: Offshore Leaks
Number of rows in dataset: 105516
Number of populated rows: 105516
Difference between the number of rows and the populated rows: 0
Number of unique entries: 400
Difference between the number of populated entries and the number of unique entries: 105116

Investigation: Panama Papers
Number of rows in dataset: 213634
Number of populated rows: 212844
Difference between the number of rows and the populated rows: 790
Number of unique entries: 159
Difference between the number of populated entries and the number of unique entries: 212685

Investigation: Paradise Papers - Aruba corporate registry
Number of rows in dataset: 290086
Number of populated rows: 169745
Difference between the number of rows and the populated rows: 120341
Number of unique entries: 567
Difference between the number of populated entries and the number of unique entries: 169178

### Keep 'country_code' and 'countries'

country_code and countries have the same number of populated rows and unique entries, except for a single row in the Panama Papers investigation.

Will want to compare these to addresses associated with the companies. Put them in the table

# service_provider

In [39]:
for ds in datasets:
    print('Investigation:', ds.sourceID.unique()[0])
    ds_col = ds.service_provider
    print('Number of rows in dataset:', ds_col.shape[0])
    print('Number of populated rows:', ds_col.count())
    print('Difference between the number of rows and the populated rows:', ds_col.shape[0] - ds_col.count())
    print('Number of unique entries:', ds_col.nunique())
    print('Difference between the number of populated entries and the number of unique entries:', ds_col.count() - ds_col.nunique())
    print(ds_col.value_counts(), '\n')

Investigation: Bahamas Leaks
Number of rows in dataset: 175888
Number of populated rows: 0
Difference between the number of rows and the populated rows: 175888
Number of unique entries: 0
Difference between the number of populated entries and the number of unique entries: 0
Series([], Name: service_provider, dtype: int64)

Investigation: Offshore Leaks
Number of rows in dataset: 105516
Number of populated rows: 105516
Difference between the number of rows and the populated rows: 0
Number of unique entries: 2
Difference between the number of populated entries and the number of unique entries: 105514
Portcullis Trustnet           61123
Commonwealth Trust Limited    44393
Name: service_provider, dtype: int64

Investigation: Panama Papers
Number of rows in dataset: 213634
Number of populated rows: 213634
Difference between the number of rows and the populated rows: 0
Number of unique entries: 1
Difference between the number of populated entries and the number of unique entries: 213633
Mossack Fonseca    213634
Name: service_provider, dtype: int64

Investigation: Paradise Papers - Aruba corporate registry
Number of rows in dataset: 290086
Number of populated rows: 24936
Difference between the number of rows and the populated rows: 265150
Number of unique entries: 1
Difference between the number of populated entries and the number of unique entries: 24935
Appleby    24936
Name: service_provider, dtype: int64

### Keep 'service_provider'

Not sure what service these companies are providing, but there may be something interesting if subsetting by provider

# closed_date

In [40]:
for ds in datasets:
    print('Investigation:', ds.sourceID.unique()[0])
    ds_col = ds.closed_date
    print('Number of rows in dataset:', ds_col.shape[0])
    print('Number of populated rows:', ds_col.count())
    print('Difference between the number of rows and the populated rows:', ds_col.shape[0] - ds_col.count())
    print('Number of unique entries:', ds_col.nunique())
    print('Difference between the number of populated entries and the number of unique entries:', ds_col.count() - ds_col.nunique(), '\n')

Investigation: Bahamas Leaks
Number of rows in dataset: 175888
Number of populated rows: 0
Difference between the number of rows and the populated rows: 175888
Number of unique entries: 0
Difference between the number of populated entries and the number of unique entries: 0

Investigation: Offshore Leaks
Number of rows in dataset: 105516
Number of populated rows: 0
Difference between the number of rows and the populated rows: 105516
Number of unique entries: 0
Difference between the number of populated entries and the number of unique entries: 0

Investigation: Panama Papers
Number of rows in dataset: 213634
Number of populated rows: 0
Difference between the number of rows and the populated rows: 213634
Number of unique entries: 0
Difference between the number of populated entries and the number of unique entries: 0

Investigation: Paradise Papers - Aruba corporate registry
Number of rows in dataset: 290086
Number of populated rows: 45305
Difference between the number of rows and the populated rows: 244781
Number of unique entries: 8896
Difference between the number of populated entries and the number of unique entries: 36409

### Discard 'closed_date'

Column is empty in three of the investigations. Majority are missing in the fourth. Not worth keeping.

# status

In [42]:
for ds in datasets:
    print('Investigation:', ds.sourceID.unique()[0])
    ds_col = ds.status
    print('Number of rows in dataset:', ds_col.shape[0])
    print('Number of populated rows:', ds_col.count())
    print('Difference between the number of rows and the populated rows:', ds_col.shape[0] - ds_col.count())
    print('Number of unique entries:', ds_col.nunique())
    print('Difference between the number of populated entries and the number of unique entries:', ds_col.count() - ds_col.nunique())
    print(ds_col.value_counts(), '\n')

Investigation: Bahamas Leaks
Number of rows in dataset: 175888
Number of populated rows: 0
Difference between the number of rows and the populated rows: 175888
Number of unique entries: 0
Difference between the number of populated entries and the number of unique entries: 0
Series([], Name: status, dtype: int64)

Investigation: Offshore Leaks
Number of rows in dataset: 105516
Number of populated rows: 96475
Difference between the number of rows and the populated rows: 9041
Number of unique entries: 21
Difference between the number of populated entries and the number of unique entries: 96454
Active                                   46004
Dead                                     23095
Struck / Defunct / Deregistered          19486
Transferred OUT                           2637
Transferred Out                           1807
Liquidated                                 826
Company liquidated                         742
Not To Be Renewed / In Deregistration      663
Shelf                                      616
We resigned as registered agent            160
In Formation                               109
Un Registered                               91
In Liquidation                              87
Vesting                                     38
Discontinuance                              37
Redomiciled                                 29
Inactive                                    25
Liquidation in Progress                     16
Client Sundry Account                        3
Sundry Account                               3
Not Renewed by Client                        1
Name: status, dtype: int64

Investigation: Panama Papers
Number of rows in dataset: 213634
Number of populated rows: 213631
Difference between the number of rows and the populated rows: 3
Number of unique entries: 17
Difference between the number of populated entries and the number of unique entries: 213614
Defaulted                             100090
Active                                 55728
Dissolved                              22377
Changed agent                          16043
Inactivated                             7640
Resigned as agent                       3174
Shelf company                           2576
Dissolved shelf company                 1573
Bad debt account                        1416
Trash company                            878
In transition                            776
Relocated in new jurisdiction            672
Discontinued                             423
Shelf company not possible to sell       201
In liquidation                            40
Change in administration pending          21
Resigned as agent of shelf company         3
Name: status, dtype: int64

Investigation: Paradise Papers - Aruba corporate registry
Number of rows in dataset: 290086
Number of populated rows: 27676
Difference between the number of rows and the populated rows: 262410
Number of unique entries: 14
Difference between the number of populated entries and the number of unique entries: 27662
Struck Off                       14737
In Dissolution                    6688
Struck Off as Defunct             2879
Struck Off Following Merger       1447
Registered                        1014
Deregistered                       452
Struck Off Following Division      115
Pending                             94
In Process of Merging               74
Subject to UN/EU Sanctions          62
In Process of Converting            58
Removed                             49
Active                               4
Winding Up                           3
Name: status, dtype: int64

### Keep 'status', modify entries to standardize

There are enough entries to be interesting. Also, will want to standardize the responses. Use text and cell manipulation to update.

# company_type

In [43]:
for ds in datasets:
    print('Investigation:', ds.sourceID.unique()[0])
    ds_col = ds.company_type
    print('Number of rows in dataset:', ds_col.shape[0])
    print('Number of populated rows:', ds_col.count())
    print('Difference between the number of rows and the populated rows:', ds_col.shape[0] - ds_col.count())
    print('Number of unique entries:', ds_col.nunique())
    print('Difference between the number of populated entries and the number of unique entries:', ds_col.count() - ds_col.nunique())
    print(ds_col.value_counts(), '\n')

Investigation: Bahamas Leaks
Number of rows in dataset: 175888
Number of populated rows: 0
Difference between the number of rows and the populated rows: 175888
Number of unique entries: 0
Difference between the number of populated entries and the number of unique entries: 0
Series([], Name: company_type, dtype: int64)

Investigation: Offshore Leaks
Number of rows in dataset: 105516
Number of populated rows: 103227
Difference between the number of rows and the populated rows: 2289
Number of unique entries: 55
Difference between the number of populated entries and the number of unique entries: 103172
Standard International Company                    40072
Standard Company under IBC Act                    26214
Business Company Limited by Shares                25130
Client Sundry Account                              8692
Cook Islands Asset Protection Trust                 547
Domestic Company                                    462
Cook Islands Asset Protection Trust - 3520A         445
Sundry Account                                      292
Cook Islands Trust                                  253
BVI Trust                                           162
The GRA group of Companies for express Co.          127
Nominee Only Entity                                 108
Mutual Fund Manager                                 103
Mutual Fund                                          79
The Forbes Group of companies for Express Co..       70
Belize International Business Company                69
Bahamas IBC                                          42
Turks                                                41
Nevis - Limited Liability Company                    39
Singapore Trust                                      25
Trust                                                25
UK Register                                          25
Nevis Company                                        22
BVI Sundry Entities (one off transactions)           21
Mauritius - Hybrid                                   18
Hong Kong Trust                                      15
Mauritius - International                            15
Limited Liability Company                            13
Partnership                                          12
Private Company Limited By Shares                    11
Busines Company Limited by Shares & Guarantee         9
Professional Mutual Fund                              7
Panama - IBC                                          6
Audit Licence                                         5
Seychelles                                            4
Business Company Limited by Guarantee                 4
SHIP REGISTRATIONS                                    4
Limited Partnership                                   4
Antigua                                               4
Business Company Restricted Purposes                  3
Collective Investment Scheme                          3
Samoa                                                 3
Hong Kong                                             3
Liquidator Licence                                    3
Seminar / Workshop                                    3
CAP 285                                               3
Mutual Fund Administrator                             2
Standard - Redomiciled                                1
Private Trust Company                                 1
Private Mutual Fund                                   1
Mail Forwarding Only                                  1
BVI Share Trust                                       1
Panama - Foundation                                   1
Mauritius - Offshore                                  1
Holding Company                                       1
Name: company_type, dtype: int64

Investigation: Panama Papers
Number of rows in dataset: 213634
Number of populated rows: 0
Difference between the number of rows and the populated rows: 213634
Number of unique entries: 0
Difference between the number of populated entries and the number of unique entries: 0
Series([], Name: company_type, dtype: int64)

Investigation: Paradise Papers - Aruba corporate registry
Number of rows in dataset: 290086
Number of populated rows: 19271
Difference between the number of rows and the populated rows: 270815
Number of unique entries: 8
Difference between the number of populated entries and the number of unique entries: 19263
Regular (Local) Company               17599
International Trust                     999
International Company                   390
International Business Corporation      201
Foreign Company Transfer                 77
Foreign Company                           3
EXEMPT INSURANCE HOLDING REGISTER         1
EXEMPT INSURANCE REGISTER                 1
Name: company_type, dtype: int64

### Discard 'company_type'

Completely empty column in two of the investigations. Not enough values to be interesting in the other two.

## Final decision on columns to keep

In [35]:
keep_cols = ['node_id', 'sourceID', 'name', 'incorporation_date', 'country_codes', 'countries',
             'jurisdiction_description', 'jurisdiction', 'service_provider', 'status']

bahamas_entity_raw = pd.read_csv('../data/raw/bahamas_leaks/bahamas_leaks.nodes.entity.csv',
                                 usecols = keep_cols)
offshore_entity_raw = pd.read_csv('../data/raw/offshore_leaks/offshore_leaks.nodes.entity.csv',
                                 usecols = keep_cols)
panama_entity_raw = pd.read_csv('../data/raw/panama_papers/panama_papers.nodes.entity.csv',
                                 usecols = keep_cols)
paradise_entity_raw = pd.read_csv('../data/raw/paradise_papers/paradise_papers.nodes.entity.csv',
                                 usecols = keep_cols)

C:\Users\Julie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4,5,11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Determine what data types to use for each column

Blogs on reducing dataframe memory usage:

- https://www.dataquest.io/blog/pandas-big-data/
- https://towardsdatascience.com/why-and-how-to-use-pandas-with-large-data-9594dda2ea4c

In [18]:
panama_entity_raw[keep_cols].head()

,node_id,sourceID,name,incorporation_date,country_codes,countries,jurisdiction_description,jurisdiction,service_provider,status
0,10000001,Panama Papers,"TIANSHENG INDUSTRY AND TRADING CO., LTD.",23-MAR-2006,HKG,Hong Kong,Samoa,SAM,Mossack Fonseca,Defaulted
1,10000002,Panama Papers,"NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.",27-MAR-2006,HKG,Hong Kong,Samoa,SAM,Mossack Fonseca,Defaulted
2,10000003,Panama Papers,"HOTFOCUS CO., LTD.",10-JAN-2006,HKG,Hong Kong,Samoa,SAM,Mossack Fonseca,Defaulted
3,10000004,Panama Papers,"SKY-BLUE GIFTS & TOYS CO., LTD.",06-JAN-2006,HKG,Hong Kong,Samoa,SAM,Mossack Fonseca,Defaulted
4,10000005,Panama Papers,FORTUNEMAKER INVESTMENTS CORPORATION,19-APR-2006,HKG,Hong Kong,Samoa,SAM,Mossack Fonseca,Changed agent

In [38]:
datasets = [bahamas_entity_raw, offshore_entity_raw, panama_entity_raw, paradise_entity_raw]

for ds in datasets:
    print(ds.sourceID[0])
    print(ds.info(memory_usage='deep'), '\n')

Bahamas Leaks
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175888 entries, 0 to 175887
Data columns (total 10 columns):
country_codes               0 non-null float64
countries                   0 non-null float64
node_id                     175888 non-null int64
sourceID                    175888 non-null object
name                        175888 non-null object
jurisdiction_description    175888 non-null object
service_provider            0 non-null float64
jurisdiction                175888 non-null object
incorporation_date          175871 non-null object
status                      0 non-null float64
dtypes: float64(4), int64(1), object(5)
memory usage: 64.1 MB
None

Offshore Leaks
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105516 entries, 0 to 105515
Data columns (total 10 columns):
node_id                     105516 non-null int64
name                        105516 non-null object
jurisdiction                105516 non-null object
jurisdiction_description    105516 non-null object
country_codes               105516 non-null object
countries                   105516 non-null object
incorporation_date          96137 non-null object
status                      96475 non-null object
service_provider            105516 non-null object
sourceID                    105516 non-null object
dtypes: int64(1), object(9)
memory usage: 64.8 MB
None

Panama Papers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213634 entries, 0 to 213633
Data columns (total 10 columns):
node_id                     213634 non-null int64
name                        213630 non-null object
jurisdiction                213634 non-null object
jurisdiction_description    213634 non-null object
country_codes               212844 non-null object
countries                   212844 non-null object
incorporation_date          213599 non-null object
status                      213631 non-null object
service_provider            213634 non-null object
sourceID                    213634 non-null object
dtypes: int64(1), object(9)
memory usage: 126.9 MB
None

Paradise Papers - Aruba corporate registry
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290086 entries, 0 to 290085
Data columns (total 10 columns):
node_id                     290086 non-null int64
name                        290061 non-null object
jurisdiction                290086 non-null object
jurisdiction_description    290086 non-null object
country_codes               169745 non-null object
countries                   169745 non-null object
incorporation_date          285746 non-null object
status                      27676 non-null object
service_provider            24936 non-null object
sourceID                    290086 non-null object
dtypes: int64(1), object(9)
memory usage: 152.6 MB
None

In [20]:
for ds in datasets:
    print(ds.sourceID[0])
    for dtype in ['int', 'float', 'object']:
        selected_dtype = ds.select_dtypes(include=[dtype])
        mb = 1024*1024
        mean_usage_mb = selected_dtype.memory_usage(deep=True).mean() / mb
        print('Average memory usage for {} columns: {:03.2f} MB'.format(dtype, mean_usage_mb))
    print('\n')

Bahamas Leaks
Average memory usage for int columns: 0.00 MB
Average memory usage for float columns: 1.07 MB
Average memory usage for object columns: 9.56 MB


Offshore Leaks
Average memory usage for int columns: 0.00 MB
Average memory usage for float columns: 0.00 MB
Average memory usage for object columns: 6.40 MB


Panama Papers
Average memory usage for int columns: 0.00 MB
Average memory usage for float columns: 0.00 MB
Average memory usage for object columns: 12.53 MB


Paradise Papers - Aruba corporate registry
Average memory usage for int columns: 0.00 MB
Average memory usage for float columns: 0.00 MB
Average memory usage for object columns: 15.04 MB

In [39]:
for ds in datasets:
    print(ds.sourceID[0])
    mb = 1024*1024
    print(ds.memory_usage(deep=True)/mb, '\n')

Bahamas Leaks
Index                        0.000076
country_codes                1.341919
countries                    1.341919
node_id                      1.341919
sourceID                    11.741791
name                        13.436182
jurisdiction_description    10.735352
service_provider             1.341919
jurisdiction                10.064392
incorporation_date          11.405727
status                       1.341919
dtype: float64

Offshore Leaks
Index                       0.000076
node_id                     0.805023
name                        8.280141
jurisdiction                6.041529
jurisdiction_description    7.239896
country_codes               6.218044
countries                   8.053644
incorporation_date          6.520695
status                      6.568155
service_provider            7.944076
sourceID                    7.144581
dtype: float64

Panama Papers
Index                        0.000076
node_id                      1.629898
name                        16.515302
jurisdiction                12.232780
jurisdiction_description    14.653359
country_codes               12.203140
countries                   13.463882
incorporation_date          13.852932
status                      13.453243
service_provider            14.669083
sourceID                    14.261608
dtype: float64

Paradise Papers - Aruba corporate registry
Index                        0.000076
node_id                      2.213181
name                        22.521332
jurisdiction                16.529937
jurisdiction_description    18.541265
country_codes               13.412334
countries                   14.093864
incorporation_date          18.663044
status                       9.860701
service_provider             9.613708
sourceID                    27.144439
dtype: float64

In [21]:
for ds in datasets:
    print(ds.sourceID[0])
    print(ds.nunique())
    print('\n')

Bahamas Leaks
country_codes                    0
countries                        0
node_id                     175888
sourceID                         1
name                        175514
jurisdiction_description         1
service_provider                 0
jurisdiction                     1
incorporation_date            6732
status                           0
dtype: int64


Offshore Leaks
node_id                     105516
name                        105114
jurisdiction                    27
jurisdiction_description        28
country_codes                  400
countries                      400
incorporation_date            4868
status                          21
service_provider                 2
sourceID                         1
dtype: int64


Panama Papers
node_id                     213634
name                        206525
jurisdiction                    21
jurisdiction_description        21
country_codes                  159
countries                      159
incorporation_date            9493
status                          17
service_provider                 1
sourceID                         1
dtype: int64


Paradise Papers - Aruba corporate registry
node_id                     290086
name                        286093
jurisdiction                    47
jurisdiction_description        41
country_codes                  566
countries                      567
incorporation_date           17922
status                          14
service_provider                 1
sourceID                         9
dtype: int64

### Notes on areas not recorded in notebook

- Turning node_id into an index increases the size of the index by a substantial amount (int32 data format uses 0.2 - 0.55 MB on the node_id column depending on the dataset, whereas when formatted as an index uses 5.81 - 12.21 MB). Probaby for the same reason indexing on a column in a database makes that column consume more memory
- Ability of int categories to hold data:
  + bool: consumes 1 byte, true or false
  + int8 / uint8: -128 - 127 or 255
  + float16 / int16 / uint16: -32,786 - 32,767 or 65,535
  + float32 / int32 / uint32: -2,147,483,648 - 2,147,483,647 or 4,294,987,295
  + float64 / int64 / uint64: if you need more than this, you're doing it wrong

# Final decision on data types

In [40]:
keep_cols = ['node_id', 'sourceID', 'name', 'incorporation_date', 'country_codes', 'countries',
             'jurisdiction_description', 'jurisdiction', 'service_provider', 'status']
dtypes = {'node_id': 'int32', 'sourceID':'category', 'name':'object', 'country_codes':'category', 'countries':'category',
          'jurisdiction_description':'category', 'jurisdiction':'category', 'service_provider':'category', 'status':'category'}

bahamas_entity_raw = pd.read_csv('../data/raw/bahamas_leaks/bahamas_leaks.nodes.entity.csv', 
                                 usecols = keep_cols,
                                 dtype=dtypes,
                                 parse_dates=['incorporation_date'])
offshore_entity_raw = pd.read_csv('../data/raw/offshore_leaks/offshore_leaks.nodes.entity.csv', 
                                 usecols = keep_cols,
                                 dtype=dtypes,
                                 parse_dates=['incorporation_date'])
panama_entity_raw = pd.read_csv('../data/raw/panama_papers/panama_papers.nodes.entity.csv', 
                                 usecols = keep_cols,
                                 dtype=dtypes,
                                 parse_dates=['incorporation_date'])
paradise_entity_raw = pd.read_csv('../data/raw/paradise_papers/paradise_papers.nodes.entity.csv', 
                                 usecols = keep_cols,
                                 dtype=dtypes,
                                 parse_dates=['incorporation_date'])

In [41]:
datasets = [bahamas_entity_raw, offshore_entity_raw, panama_entity_raw, paradise_entity_raw]

for ds in datasets:
    print(ds.sourceID[0])
    print(ds.info(memory_usage='deep'), '\n')

Bahamas Leaks
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175888 entries, 0 to 175887
Data columns (total 10 columns):
country_codes               0 non-null category
countries                   0 non-null category
node_id                     175888 non-null int32
sourceID                    175888 non-null category
name                        175888 non-null object
jurisdiction_description    175888 non-null category
service_provider            0 non-null category
jurisdiction                175888 non-null category
incorporation_date          175871 non-null datetime64[ns]
status                      0 non-null category
dtypes: category(7), datetime64[ns](1), int32(1), object(1)
memory usage: 16.6 MB
None

Offshore Leaks
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105516 entries, 0 to 105515
Data columns (total 10 columns):
node_id                     105516 non-null int32
name                        105516 non-null object
jurisdiction                105516 non-null category
jurisdiction_description    105516 non-null category
country_codes               105516 non-null category
countries                   105516 non-null category
incorporation_date          96137 non-null datetime64[ns]
status                      96475 non-null category
service_provider            105516 non-null category
sourceID                    105516 non-null category
dtypes: category(7), datetime64[ns](1), int32(1), object(1)
memory usage: 10.5 MB
None

Panama Papers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213634 entries, 0 to 213633
Data columns (total 10 columns):
node_id                     213634 non-null int32
name                        213630 non-null object
jurisdiction                213634 non-null category
jurisdiction_description    213634 non-null category
country_codes               212844 non-null category
countries                   212844 non-null category
incorporation_date          213599 non-null datetime64[ns]
status                      213631 non-null category
service_provider            213634 non-null category
sourceID                    213634 non-null category
dtypes: category(7), datetime64[ns](1), int32(1), object(1)
memory usage: 20.8 MB
None

Paradise Papers - Aruba corporate registry
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290086 entries, 0 to 290085
Data columns (total 10 columns):
node_id                     290086 non-null int32
name                        290061 non-null object
jurisdiction                290086 non-null category
jurisdiction_description    290086 non-null category
country_codes               169745 non-null category
countries                   169745 non-null category
incorporation_date          290086 non-null object
status                      27676 non-null category
service_provider            24936 non-null category
sourceID                    290086 non-null category
dtypes: category(7), int32(1), object(2)
memory usage: 45.0 MB
None

In [42]:
for ds in datasets:
    print(ds.sourceID[0])
    for dtype in ['int', 'float', 'object']:
        selected_dtype = ds.select_dtypes(include=[dtype])
        mb = 1024*1024
        mean_usage_mb = selected_dtype.memory_usage(deep=True).mean() / mb
        print('Average memory usage for {} columns: {:03.2f} MB'.format(dtype, mean_usage_mb))
    print('\n')

Bahamas Leaks
Average memory usage for int columns: 0.34 MB
Average memory usage for float columns: 0.00 MB
Average memory usage for object columns: 6.72 MB


Offshore Leaks
Average memory usage for int columns: 0.20 MB
Average memory usage for float columns: 0.00 MB
Average memory usage for object columns: 4.14 MB


Panama Papers
Average memory usage for int columns: 0.41 MB
Average memory usage for float columns: 0.00 MB
Average memory usage for object columns: 8.26 MB


Paradise Papers - Aruba corporate registry
Average memory usage for int columns: 0.55 MB
Average memory usage for float columns: 0.00 MB
Average memory usage for object columns: 13.77 MB

In [43]:
for ds in datasets:
    print(ds.sourceID[0])
    mb = 1024*1024
    print(ds.memory_usage(deep=True)/mb, '\n')

Bahamas Leaks
Index                        0.000076
country_codes                0.167740
countries                    0.167740
node_id                      0.670959
sourceID                     0.167807
name                        13.436182
jurisdiction_description     0.167801
service_provider             0.167740
jurisdiction                 0.167797
incorporation_date           1.341919
status                       0.167740
dtype: float64

Offshore Leaks
Index                       0.000076
node_id                     0.402512
name                        8.280141
jurisdiction                0.103417
jurisdiction_description    0.103644
country_codes               0.245098
countries                   0.252342
incorporation_date          0.805023
status                      0.102695
service_provider            0.100780
sourceID                    0.100696
dtype: float64

Panama Papers
Index                        0.000076
node_id                      0.814949
name                        16.515302
jurisdiction                 0.205547
jurisdiction_description     0.205671
country_codes                0.421455
countries                    0.422366
incorporation_date           1.629898
status                       0.205556
service_provider             0.203806
sourceID                     0.203804
dtype: float64

Paradise Papers - Aruba corporate registry
Index                        0.000076
node_id                      1.106590
name                        22.521332
jurisdiction                 0.280525
jurisdiction_description     0.280573
country_codes                0.607555
countries                    0.615867
incorporation_date          18.778934
status                       0.278233
service_provider             0.276785
sourceID                     0.277800
dtype: float64