In [ ]:
# import sys
# !{sys.excutable} -m pip install pip --upgrade
# !{sys.excutable} -m pip install pandas numpy --upgrade

In [6]:
# ! pip install parquet
# ! pip install pyarrow
# ! pip install fastparquet

Collecting pyarrow
  Downloading pyarrow-9.0.0-cp38-cp38-win_amd64.whl (19.6 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\jfish\anaconda3\lib\site-packages (from pyarrow) (1.20.1)

WARNING: Ignoring invalid distribution -ffi (c:\users\jfish\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\jfish\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\jfish\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\jfish\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\jfish\anaconda3\lib\site-packages)
WARNING: You are using pip version 21.3.1; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\jfish\anaconda3\python.exe -m pip install --upgrade pip' command.

Installing collected packages: pyarrow
Successfully installed pyarrow-9.0.0
Collecting fastparquet
  Downloading fastparquet-0.8.3-cp38-cp38-win_amd64.whl (615 kB)
Collecting cramjam>=2.3.0
  Downloading cramjam-2.5.0-cp38-none-win_amd64.whl (993 kB)
Requirement already satisfied: numpy>=1.18 in c:\users\jfish\anaconda3\lib\site-packages (from fastparquet) (1.20.1)
Requirement already satisfied: packaging in c:\users\jfish\appdata\roaming\python\python38\site-packages (from fastparquet) (21.0)
Requirement already satisfied: fsspec in c:\users\jfish\anaconda3\lib\site-packages (from fastparquet) (0.9.0)
Requirement already satisfied: pandas>=1.1.0 in c:\users\jfish\anaconda3\lib\site-packages (from fastparquet) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jfish\anaconda3\lib\site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\jfish\anaconda3\lib\site-packages (from pandas>=1.1.0->fastparquet) (2021.3)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\jfish\anaconda3\lib\site-packages (from packaging->fastparquet) (2.4.7)
Requirement already satisfied: six>=1.5 in c:\users\jfish\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.1.0->fastparquet) (1.16.0)
Installing collected packages: cramjam, fastparquet
Successfully installed cramjam-2.5.0 fastparquet-0.8.3

WARNING: Ignoring invalid distribution -ffi (c:\users\jfish\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\jfish\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\jfish\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\jfish\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\jfish\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\jfish\anaconda3\lib\site-packages)
WARNING: You are using pip version 21.3.1; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\jfish\anaconda3\python.exe -m pip install --upgrade pip' command.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display
import re
from time import gmtime, strftime
import sys
import os
import io

# import boto3
# import sagemaker
# from sagemaker import get_execution_role
# from sagemaker.s3 import S3Uploader, S3Downloader
# from sklearn.preprocessing import MultiLabelBinarizer

In [ ]:
# pd.__version__

In [ ]:
# AWS version

# s3_resource = boto3.resource("s3")
# s3_bucket = "name_of_my_bucket"
# file_path = "data/offshore_leaks"

# file_names = [x for x in os.listdir(filepath) if os.path.isfilel(os.path.join(file_path, x))]

In [2]:
ori_path = os.path.join(os.getcwd(), 'data', 'original')
file_names = [x.name for x in os.scandir(ori_path)]

In [3]:
file_names

['nodes-addresses.csv',
 'nodes-entities.csv',
 'nodes-intermediaries.csv',
 'nodes-officers.csv',
 'nodes-others.csv',
 'relationships.csv']

In [4]:
df_dict = {}

In [7]:
for file in file_names:
    file_name = file.split(".")[0]
    print(file_name)
    df = pd.read_csv(os.path.join(ori_path, file))
    print(file_name + " read in")
    df_dict[file_name] = df
    print(file_name + " in dict")
#     new_path = os.path.join(os.getcwd(), 'data', 'compressed', file_name)
#     df.to_parquet(f"{new_path}.parquet", index=False)

nodes-addresses
nodes-addresses read in
nodes-addresses in dict
nodes-entities
nodes-entities read in
nodes-entities in dict
nodes-intermediaries
nodes-intermediaries read in
nodes-intermediaries in dict
nodes-officers
nodes-officers read in
nodes-officers in dict
nodes-others
nodes-others read in
nodes-others in dict
relationships

C:\Users\jfish\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

relationships read in
relationships in dict

In [8]:
for file in file_names:
    file_name = file.split(".")[0]
    print(file_name)
    display(df_dict[file_name].info())
    print("\n")

nodes-addresses
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402246 entries, 0 to 402245
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   node_id        402246 non-null  int64
 1   address        382314 non-null  object
 2   name           223346 non-null  object
 3   countries      276919 non-null  object
 4   country_codes  276919 non-null  object
 5   sourceID       402246 non-null  object
 6   valid_until    401529 non-null  object
 7   note           31 non-null      object
dtypes: int64(1), object(7)
memory usage: 24.6+ MB

None

nodes-entities
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 814345 entries, 0 to 814344
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   node_id                   814345 non-null  int64
 1   name                      814316 non-null  object
 2   original_name             389522 non-null  object
 3   former_name               6837 non-null    object
 4   jurisdiction              806781 non-null  object
 5   jurisdiction_description  806783 non-null  object
 6   company_type              138752 non-null  object
 7   address                   299323 non-null  object
 8   internal_id               389522 non-null  float64
 9   incorporation_date        788471 non-null  object
 10  inactivation_date         144773 non-null  object
 11  struck_off_date           343843 non-null  object
 12  dorm_date                 20207 non-null   object
 13  status                    358033 non-null  object
 14  service_provider          344086 non-null  object
 15  ibcRUC                    562476 non-null  object
 16  country_codes             504992 non-null  object
 17  countries                 504992 non-null  object
 18  sourceID                  814345 non-null  object
 19  valid_until               814138 non-null  object
 20  note                      41764 non-null   object
dtypes: float64(1), int64(1), object(19)
memory usage: 130.5+ MB

None

nodes-intermediaries
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26768 entries, 0 to 26767
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   node_id        26768 non-null  int64
 1   name           26767 non-null  object
 2   status         12621 non-null  object
 3   internal_id    14651 non-null  object
 4   address        8643 non-null   object
 5   countries      23152 non-null  object
 6   country_codes  23152 non-null  object
 7   sourceID       26768 non-null  object
 8   valid_until    26768 non-null  object
 9   note           7 non-null      object
dtypes: int64(1), object(9)
memory usage: 2.0+ MB

None

nodes-officers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 771315 entries, 0 to 771314
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   node_id        771315 non-null  int64
 1   name           771253 non-null  object
 2   countries      469044 non-null  object
 3   country_codes  470321 non-null  object
 4   sourceID       771315 non-null  object
 5   valid_until    770776 non-null  object
 6   note           3753 non-null    object
dtypes: int64(1), object(6)
memory usage: 41.2+ MB

None

nodes-others
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2989 entries, 0 to 2988
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   node_id                   2989 non-null   int64
 1   name                      2989 non-null   object
 2   type                      888 non-null    object
 3   incorporation_date        888 non-null    object
 4   struck_off_date           45 non-null     object
 5   closed_date               117 non-null    object
 6   jurisdiction              958 non-null    object
 7   jurisdiction_description  958 non-null    object
 8   countries                 386 non-null    object
 9   country_codes             386 non-null    object
 10  sourceID                  2989 non-null   object
 11  valid_until               2989 non-null   object
 12  note                      117 non-null    object
dtypes: int64(1), object(12)
memory usage: 303.7+ KB

None

relationships
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3336917 entries, 0 to 3336916
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   node_id_start  int64
 1   node_id_end    int64
 2   rel_type       object
 3   link           object
 4   status         object
 5   start_date     object
 6   end_date       object
 7   sourceID       object
dtypes: int64(2), object(6)
memory usage: 203.7+ MB

None

In [9]:
for file in file_names:
    file_name = file.split(".")[0]
    print(file_name)
    display(df_dict[file_name].columns)
    print("\n")

nodes-addresses

Index(['node_id', 'address', 'name', 'countries', 'country_codes', 'sourceID',
       'valid_until', 'note'],
      dtype='object')

nodes-entities

Index(['node_id', 'name', 'original_name', 'former_name', 'jurisdiction',
       'jurisdiction_description', 'company_type', 'address', 'internal_id',
       'incorporation_date', 'inactivation_date', 'struck_off_date',
       'dorm_date', 'status', 'service_provider', 'ibcRUC', 'country_codes',
       'countries', 'sourceID', 'valid_until', 'note'],
      dtype='object')

nodes-intermediaries

Index(['node_id', 'name', 'status', 'internal_id', 'address', 'countries',
       'country_codes', 'sourceID', 'valid_until', 'note'],
      dtype='object')

nodes-officers

Index(['node_id', 'name', 'countries', 'country_codes', 'sourceID',
       'valid_until', 'note'],
      dtype='object')

nodes-others

Index(['node_id', 'name', 'type', 'incorporation_date', 'struck_off_date',
       'closed_date', 'jurisdiction', 'jurisdiction_description', 'countries',
       'country_codes', 'sourceID', 'valid_until', 'note'],
      dtype='object')

relationships

Index(['node_id_start', 'node_id_end', 'rel_type', 'link', 'status',
       'start_date', 'end_date', 'sourceID'],
      dtype='object')

In [10]:
for file in file_names:
    file_name = file.split(".")[0]
    print(file_name)
    display(df_dict[file_name].head())
    print("\n")

nodes-addresses

,node_id,address,name,countries,country_codes,sourceID,valid_until,note
0,24000001,"ANNEX FREDERICK & SHIRLEY STS, P.O. BOX N-4805...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
1,24000002,"SUITE E-2,UNION COURT BUILDING, P.O. BOX N-818...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
2,24000003,"LYFORD CAY HOUSE, LYFORD CAY, P.O. BOX N-7785,...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
3,24000004,"P.O. BOX N-3708 BAHAMAS FINANCIAL CENTRE, P.O....",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
4,24000005,"LYFORD CAY HOUSE, 3RD FLOOR, LYFORD CAY, P.O. ...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN

nodes-entities

,node_id,name,original_name,former_name,jurisdiction,jurisdiction_description,company_type,address,internal_id,incorporation_date,...,struck_off_date,dorm_date,status,service_provider,ibcRUC,country_codes,countries,sourceID,valid_until,note
0,10000001,"TIANSHENG INDUSTRY AND TRADING CO., LTD.","TIANSHENG INDUSTRY AND TRADING CO., LTD.",NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1001256.0,23-MAR-2006,...,15-FEB-2013,NaN,Defaulted,Mossack Fonseca,25221,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
1,10000002,"NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.","NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.",NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1001263.0,27-MAR-2006,...,15-FEB-2014,NaN,Defaulted,Mossack Fonseca,25249,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
2,10000003,"HOTFOCUS CO., LTD.","HOTFOCUS CO., LTD.",NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1000896.0,10-JAN-2006,...,15-FEB-2012,NaN,Defaulted,Mossack Fonseca,24138,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
3,10000004,"SKY-BLUE GIFTS & TOYS CO., LTD.","SKY-BLUE GIFTS & TOYS CO., LTD.",NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1000914.0,06-JAN-2006,...,15-FEB-2009,NaN,Defaulted,Mossack Fonseca,24012,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
4,10000005,FORTUNEMAKER INVESTMENTS CORPORATION,FORTUNEMAKER INVESTMENTS CORPORATION,NaN,SAM,Samoa,NaN,LOYAL PORT LIMITED 8/F; CRAWFORD TOWER 99 JERV...,1001266.0,19-APR-2006,...,15-FEB-2008,NaN,Changed agent,Mossack Fonseca,R25638,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN

nodes-intermediaries

,node_id,name,status,internal_id,address,countries,country_codes,sourceID,valid_until,note
0,11000001,"MICHAEL PAPAGEORGE, MR.",ACTIVE,10001,MICHAEL PAPAGEORGE; MR. 106 NICHOLSON STREET B...,South Africa,ZAF,Panama Papers,The Panama Papers data is current through 2015,NaN
1,11000002,CORFIDUCIA ANSTALT,ACTIVE,10004,NaN,Liechtenstein,LIE,Panama Papers,The Panama Papers data is current through 2015,NaN
2,11000003,"DAVID, RONALD",SUSPENDED,10014,NaN,Monaco,MCO,Panama Papers,The Panama Papers data is current through 2015,NaN
3,11000004,"DE BOUTSELIS, JEAN-PIERRE",SUSPENDED,10015,NaN,Belgium,BEL,Panama Papers,The Panama Papers data is current through 2015,NaN
4,11000005,THE LEVANT LAWYERS (TLL),ACTIVE,10029,NaN,Lebanon,LBN,Panama Papers,The Panama Papers data is current through 2015,NaN

nodes-officers

,node_id,name,countries,country_codes,sourceID,valid_until,note
0,12000001,KIM SOO IN,South Korea,KOR,Panama Papers,The Panama Papers data is current through 2015,NaN
1,12000002,Tian Yuan,China,CHN,Panama Papers,The Panama Papers data is current through 2015,NaN
2,12000003,GREGORY JOHN SOLOMON,Australia,AUS,Panama Papers,The Panama Papers data is current through 2015,NaN
3,12000004,MATSUDA MASUMI,Japan,JPN,Panama Papers,The Panama Papers data is current through 2015,NaN
4,12000005,HO THUY NGA,Viet Nam,VNM,Panama Papers,The Panama Papers data is current through 2015,NaN

nodes-others

,node_id,name,type,incorporation_date,struck_off_date,closed_date,jurisdiction,jurisdiction_description,countries,country_codes,sourceID,valid_until,note
0,85004929,ANTAM ENTERPRISES N.V.,LIMITED LIABILITY COMPANY,18-MAY-1983,NaN,28-NOV-2012,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,Closed date stands for Cancelled date.
1,85008443,DEVIATION N.V.,LIMITED LIABILITY COMPANY,28-JUN-1989,31-DEC-2002,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
2,85008517,ARIAZI N.V.,LIMITED LIABILITY COMPANY,19-JUL-1989,NaN,19-MAY-2004,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,Closed date stands for Cancelled date.
3,85008542,FLAIRUBA N.V.,LIMITED LIABILITY COMPANY,27-JUL-1989,24-JUL-2000,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
4,85008583,S.L. ARUBA FISHERIES TRADING N.V.,LIMITED LIABILITY COMPANY,01-AUG-1989,NaN,29-OCT-2007,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,Closed date stands for Cancelled date.

relationships

,node_id_start,node_id_end,rel_type,link,status,start_date,end_date,sourceID
0,12160432,10000001,officer_of,shareholder of,NaN,23-MAR-2006,NaN,Panama Papers
1,12203574,10000001,officer_of,shareholder of,NaN,23-MAR-2006,NaN,Panama Papers
2,11001746,10000001,intermediary_of,intermediary of,NaN,NaN,NaN,Panama Papers
3,12204326,10000002,officer_of,shareholder of,NaN,27-MAR-2006,NaN,Panama Papers
4,12160432,10000002,officer_of,shareholder of,NaN,27-MAR-2006,NaN,Panama Papers

In [12]:
dtype_dict = {"nodes-addresses":{'int64': ['node_id'],
                                 'string': ['address',
                                            'name',
                                            'countries',
                                            'country_codes',
                                            'sourceID',
                                            'valid_until',
                                            'note']
                                },
             "nodes-officers":{'int64': ['node_id'],
                               'string': ['name',
                                          'countries',
                                          'country_codes',
                                          'sourceID',
                                          'valid_until',
                                          'note']
                              },
             "nodes-others":{'int64': ['node_id'],
                             'string': ['name',
                                        'type',
                                        'jurisdiction',
                                        'jurisdiction_description',
                                        'countries',
                                        'country_codes',
                                        'sourceID',
                                        'valid_until',
                                        'note'],
                             'datetime': ['incorporation_date',
                                          'struck_off_date',
                                          'closed_date']
                            },
             "nodes-entities":{'int64': ['node_id',
                                         'internal_id'],
                               'string': ['name',
                                          'original_name',
                                          'former_name',
                                          'jurisdiction',
                                          'jurisdiction_description',
                                          'company_type',
                                          'address',
                                          'status',
                                          'service_provider',
                                          'ibcRUC',
                                          'countries',
                                          'country_codes',
                                          'sourceID',
                                          'valid_until',
                                          'note'],
                               'datetime': ['incorporation_date',
                                            'inactivation_date',
                                            'struck_off_date',
                                            'dorm_date']
                              },
             "nodes-intermediaries":{'int64': ['node_id',
                                               'internal_id'],
                                     'string': ['name',
                                                'status',
                                                'address',
                                                'countries',
                                                'country_codes',
                                                'sourceID',
                                                'valid_until',
                                                'note']
                                    },
             "relationships":{'int64': ['node_id_start',
                                        'node_id_end'],
                              'string': ['rel_type',
                                         'link',
                                         'status',
                                         'sourceID'],
                              'datetime': ['start_date',
                                           'end_date']
                             }}

In [14]:
for file in file_names:
    file_name = file.split(".")[0]
    print(file_name)
    df = pd.read_csv(os.path.join(ori_path, file))
    print(file_name + " read in. Updating dtypes")
    
    numeric_lst = dtype_dict[file_name]['int64']
    str_lst = dtype_dict[file_name]['string']
    try:
        date_lst = dtype_dict[file_name]['datetime']
    except:
        pass
    
    df[numeric_lst] = df[numeric_lst].apply(pd.to_numeric, errors='coerce')
    df[str_lst] = df[str_lst].astype('string')
    try:
        df[date_lst] = df[date_lst].apply(pd.to_datetime)
    except:
        pass
    
    print(f"Dtypes updated. Saving file {file_name}")
#     s3_path = f's3"//{s3_bucket}/{ori_path}/{file_name}.parquet'
#     print(s3_path)
#     df.to_parquet(s3_path, index=False)
    
    df_dict[file_name] = df
    print(file_name + " in dict")
    new_path = os.path.join(os.getcwd(), 'data', 'compressed', file_name)
    df.to_parquet(f"{new_path}.parquet", index=False)

nodes-addresses
nodes-addresses read in. Updating dtypes
Dtypes updated. Saving file nodes-addresses
nodes-addresses in dict
nodes-entities

C:\Users\jfish\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,3,6,7,10,11,12,13,14,15,16,17,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

nodes-entities read in. Updating dtypes
Dtypes updated. Saving file nodes-entities
nodes-entities in dict
nodes-intermediaries
nodes-intermediaries read in. Updating dtypes
Dtypes updated. Saving file nodes-intermediaries
nodes-intermediaries in dict
nodes-officers
nodes-officers read in. Updating dtypes
Dtypes updated. Saving file nodes-officers
nodes-officers in dict
nodes-others
nodes-others read in. Updating dtypes
Dtypes updated. Saving file nodes-others
nodes-others in dict
relationships

C:\Users\jfish\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

relationships read in. Updating dtypes
Dtypes updated. Saving file relationships
relationships in dict